# Workaround: @lottiefiles/react-lottie-player requires React 16-18
# but we use React 19. Remove once migrated to @lottiefiles/dotlottie-react
# See: https://github.com/jorgeberrizbeitia/patas-arriba-client/issues/3
legacy-peer-deps=true
