#root {
  margin: 0 auto;
  padding: 0 rem;
  text-align: center;
}

html {
  font-size: 16px;
}

a:visited {
  /* //* weird but with mui and rect-router-dom links */
  color: #EFB665
}

.remove-margin {
  /* //* weird bug with mui adding a small margin-left on some Icons */
  margin: 0 !important;
}

hr {
  /* //* better than mui Divider */ 
  margin: 20px;
  border: none;
  border-top: 1px solid #EFB665;
  width: 100%; 
  max-width: 650px;
}

.MuiIconButton-root {
  /* //* to allow icon caption at the bottom */
  display: flex;
  flex-direction: column;
}

.MuiAlert-root {
  /* //* To manually adjust the font size of all Alerts. It will use the same value as captions */
  font-size: 0.75rem !important;
}

.MuiButton-containedSizeSmall, .MuiButton-outlinedSizeSmall, .MuiButton-textSizeSmall {
  font-size: 0.575rem !important;
}

.MuiButton-containedSizeMedium, .MuiButton-outlinedSizeMedium, .MuiButton-textSizeMedium {
  font-size: 0.625rem;
}

.MuiButton-containedSizeLarge, .MuiButton-outlinedSizeLarge, .MuiButton-textSizeLarge {
  font-size: 0.75rem;
}

@media (min-width: 600px) {
  html {
    font-size: 19px;
  }
}

@media (min-width: 960px) {
  html {
    font-size: 22px;
  }
}

@media (min-width: 1280px) {
  html {
    font-size: 25px;
  }
}

@media (min-width: 1920px) {
  html {
    font-size: 28px;
  }
}

