#root {
  margin: 0 auto;
  padding: 0 rem;
  text-align: center;
}

a:visited {
  /* weird but with mui and rect-router-dom links */
  color: #EFB665
}

.remove-margin {
  /* weird bug with mui adding a small margin-left on some Icons */
  margin: 0 !important;
}

hr {
  /* better than mui Divider */ 
  margin: 20px;
  border: none;
  border-top: 1px solid #EFB665;
}

html {
  font-size: 16px;
}

@media (min-width: 600px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 960px) {
  html {
    font-size: 24px;
  }
}

@media (min-width: 1280px) {
  html {
    font-size: 30px;
  }
}

@media (min-width: 1920px) {
  html {
    font-size: 34px;
  }
}

